article {
    background-color: rgb(255, 255, 255);
    display: flex;
}

.left-zone {
    width: 50%;
    border: 1px solid red;
}

.right-zone {
    width: 50%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-progress-bar {
    width: 100%;
}

